[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/world-id-contracts"]
	path = lib/world-id-contracts
	url = https://github.com/worldcoin/world-id-contracts
