[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/world-id-contracts"]
	path = lib/world-id-contracts
	url = https://github.com/worldcoin/world-id-contracts
